.feed-list .list-item {
    border-top: 1px solid #ccc;
    padding: 20px 10px;
    color:#6a6a6a;
}

.feed-list .title-row {
    padding: 20px 10px;
}

.feed-list .rating-star {
    font-size: 22px;;
}

.feed-list .rating-color-dark-green {
    color: #2895cc;
}

.feed-list .rating-color-light-green {
    color: #329fd6;
}

.feed-list .rating-color-yellow {
    color: #3ca9e0;
}

.feed-list .rating-color-orange {
    color: #47b4eb;
}

.feed-list .review-rating .rating-star {
    float: left;
    margin-right: 6px;
}

.feed-list .review-rating {
    display: block;
}
.feed-list .rating-star {
    margin:0;
}


.feed-list .review-time-elapsed {
    font-size: 12px;
    color: #949494;
}

.feed-summary .side-left {
    margin-top: 20px;
    text-align: center;
}

.feed-summary .summary-rating {
    padding: 0 6px;
    color: #ffffff;
    border-radius: 3px;
}

.feed-summary .rating-list-item {
    line-height: 30px;
    margin-bottom: 4px;
}

.feed-summary .rating-color-dark-green {
    background-color: #2895cc;
}

.feed-summary .rating-color-light-green {
    background-color: #329fd6
}

.feed-summary .rating-color-yellow {
    background-color: #3ca9e0
}

.feed-summary .rating-color-orange {
    background-color: #47b4eb
}
.feed-summary .summary-title {
    font-size:32px;
    padding-bottom:15px;
}
.feefo-widget-sidebar blockquote em {
    display: block;
    z-index: 2;
    position: relative;
    color: #1b1b1b;
    margin-bottom: 12px;
    font-style: italic;
    font-size:16px;
}
.feefo-widget-sidebar blockquote {
    padding:15px 15px 15px 30px;
}
.feefo-confirm {
    margin-bottom:30px;
}
.feefo-confirm .row {
    margin-bottom:15px;
    padding:0;
}
.feefo-confirm .confirm-label {
    padding:6px;
    text-align: right;
}
.feefo-confirm .confirm-value {
    background-color: mintcream;
    border:1px solid #359463;
    padding:6px;
}